.weather {
	background-color: @white;
	padding: 1rem 0.8rem;
	position: absolute;
	top: 2rem;
	left: 2rem;
	z-index: 1000;
	line-height: 1;
	width: 260px;
	height: 260px;
	border-radius: 15px;
	box-shadow: 2px 2px 30px fade(@black, 20%);
	
	&__date {
		margin-top: 0.3rem;
		font-size: 1.2rem;
		color: @gray;
	}
	
	&__info {
		display: flex;
		margin: 1.2rem 0;
	}

	&__value {
		font-size: 4rem;
		font-weight: 700;
	}

	&__measurings {
		margin-left: 1.5rem;
		display: flex;
		flex-direction: column;
	}

	&__pressure,
	&__humidity {
		height: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	
	&__pressicon,
	&__humicon {
		margin-right: 0.6rem;
		display: flex;
		height: 25px;
		width: auto;
		max-width: 30px;
		fill: fade(@black, 60%);
	}

	&__pressvalue,
	&__humvalue {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.4rem;
	}

	&__forecast {
		display: flex;
		justify-content: space-between;
	}

	&__day {
		width: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__name {
		font-size: 1.333rem;
		margin-bottom: 1rem;
	}

	&__icon {
		margin-bottom: 1rem;
	}

	&__temp {
		font-size: 1rem;
		display: flex;
		justify-content: space-between;
	}

	&__averageT {
		margin-right: 0.6rem;
	}

	&__minT {
		color: @gray;
	}
}